

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

h2 {
	text-align: center;
}

#lala {
	margin-left: 50%;
}
.flight {
	display: inline-block;
    width: 100%;
}

.row,
.row > .column {
  padding: 8px;
}

.column img{
	height: 80%;
	width: auto;

}

.row {
  margin: 8px -16px;
}

.column .content {
	height: 100%;
	width: 100%;
}


.column {
  float: left;
  width: 33.3%;
  height: 300px;
  margin-bottom: 100px;
  text-align: center;
}





@media screen and (max-width: 1100px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}